---
layout: default
title: BodyBuilding
comment: true
---

<div class="article">
    <h3 class="title">{{ page.title }}</h3>
    <div class="links">
        <table>
            <thead>
                <tr>
                    <th>时间</th>
                    <th>动作名</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="center">周一</td>
                    <td align="center">杠铃直立划船</td>
                </tr>
                <tr>
                    <td align="center">周三</td>
                    <td align="center">深蹲</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="comment">
        {% if site.disqus.config %}
        <div id="disqus_thread"></div>
        {% else %}
            {% if site.duoshuo.config %}
            <div class="ds-thread"></div>
            {% endif %}
        {% endif %}
    </div>
</div>