---
layout: default
title: Reading
comment: true
---

<div class="article">
    <h3 class="title">{{ page.title }}</h3>
    <div class="links">
        <p>想读6</p>
        <table>
            <thead>
                <tr>
                    <th>编号</th>
                    <th>书名</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                {% for i in site.reading.toRead %}
                {% for book in i.item %}
                <tr>
                    <td>1</td>
                    <td><a href="{{ book.url }}" target="_blank">{{ book.name }}</a></td>
                    <td>未读</td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        <p>已读</p>
        <table>
            <thead>
                <tr>
                    <th>编号</th>
                    <th>书名</th>
                    <th>笔记</th>
                </tr>
            </thead>
            <tbody>
                {% for i in site.reading.readed %}
                {% for book in i.item %}
                <tr>
                    <td>1</td>
                    <td><a href="{{ book.url }}" target="_blank">{{ book.name }}</a></td>
                    <td><a href="{{ book.note }}" target="_blank">笔记</a></td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="comment">
        {% if site.disqus.config %}
        <div id="disqus_thread"></div>
        {% else %}
            {% if site.duoshuo.config %}
            <div class="ds-thread"></div>
            {% endif %}
        {% endif %}
    </div>
</div>