---
layout: default
title: Reading
comment: true
---

<div class="article">
    <h3 class="title">{{ page.title }}</h3>
    <div class="links">
    <!--
        {% for i in site.customLinks %}
        <h4 class="links-category fn-clear">{{ i.message }}</h4>
        <ul class="links-list fn-clear">
                {% for link in i.item %}
                <li><a href="{{ link.url }}" target="_blank">{{ link.text }}</a></li>
                {% endfor %}
        </ul>
        {% endfor %}
    -->
        <ul class="links-list fn-clear">
            <li><img class=".reading-image" src="http://img4.douban.com/lpic/s27766899.jpg" /><a href="http://www.baidu.com" target="_blank">dsfdfdfd</a></li>
            <li><img class=".reading-image" src="http://img4.douban.com/lpic/s27766899.jpg" /><a href="http://www.baidu.com" target="_blank">dsfdfdfd</a></li>
            <li><img class=".reading-image" src="http://img4.douban.com/lpic/s27766899.jpg" /><a href="http://www.baidu.com" target="_blank">dsfdfdfd</a></li>
            <li><img class=".reading-image" src="http://img4.douban.com/lpic/s27766899.jpg" /><a href="http://www.baidu.com" target="_blank">dsfdfdfd</a></li>
            <li><img class=".reading-image" src="http://img4.douban.com/lpic/s27766899.jpg" /><a href="http://www.baidu.com" target="_blank">dsfdfdfd</a></li>
        </ul>
    </div>
    <div class="comment">
        {% if site.disqus.config %}
        <div id="disqus_thread"></div>
        {% else %}
            {% if site.duoshuo.config %}
            <div class="ds-thread"></div>
            {% endif %}
        {% endif %}
    </div>
</div>